/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/Untitled.png);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/Untitled1.png);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(images/Untitled2.png)
} */
img{
  width: 100%;
  height: 90vh;
  margin-top: 30px;
}